:root {
    --base-body-font-family: "Poppins";

    --color-primary: #3166de;
    --color-primary-hover: #3553d2;
    --color-secondary: #333333;
    --color-accent: #e7f2ff;
    --color-white: #ffffff;
    --color-black: #000000;

    --color-666: #666666;
    --color-C7C: #5d6c7c;
    --color-5ec: #e3e5ec;
    --color-1fc: #d5e1fc;
    --color-4ff: #ecf4ff;
    --color-9fd: #f8f9fd;
    --color-3fc: #f0f3fc;
    --color-f49: #170f49;
    --color-494: #949494;
    --color-6f6: #6F6C90;
    --color-1d2: #1D2130;

}
