@import "../import/variables";

footer {
    .footer-menu {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: block;
                a {
                    color: #666;
                    font-size: 18px;
                    font-weight: 400;
                    text-decoration: none;
                }
            }
        }
    }

    .foot {
        border-top: 7px solid var(--color-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #666;
        font-size: 18px;
        font-weight: 500;
        margin-top: 50px;
        padding-top: 10px;
    }
}
