@import "../import/variables";
@media (min-width: 1400px) {
    .container {
        max-width: 1240px;
    }
    .thank-u-page{
        section{
            .container{
                max-width: 1010px;
            }
        }
    }
    
}
@media (min-width: 992px) {
    .custom-tabs-slider{
        .slick-track{
            transform: translate3d(0px, 0px, 0px) !important;
            width: 100% !important;
        }
    }
}
@media (max-width: 1440px) {
    .custom-checkbox-list{
        gap: 20px;
    }
}
@media (max-width: 1366px) {
    .custom-accordion .item {
        background-position: 98% 15px;
    }
    .custom-accordion .item.active {
        background-position: 96% 28px;
    }
    .custom-accordion .item .accordion-title {
        font-size: 18px;
    }
    .custom-accordion .item .accordion-data {
        font-size: 16px;
    }
    .business-testimonial .item {
        padding: 45px 30px;
    }

    .user-img-circle .item-1 {
        left: 60px;
    }
    .user-img-circle .item-2 {
        left: 140px;
    }
    .user-img-circle .item-3 {
        right: 140px;
    }
    .user-img-circle .item-4 {
        right: 60px;
    }
}
@media (max-width: 1210px) {
    header nav {
        padding-left: 0;
        justify-content: flex-end;
    }
}
@media (min-width: 992px) and (max-device-width: 1200px){
    .thank-u-page{
        .container{
            max-width: 767px;
        }
        .header-container{
            max-width: 92%;
        }
        .check-demo{
            .polygon-img{
                img{
                    width: 500px;
                    top: -100px;
                }
            }
        } 
    }
}
@media (max-width: 1200px) {
    header {
        position: relative;
    }
    header nav {
        padding-left: 0;
        justify-content: flex-end;
    }

    header nav ul li {
        margin: 0 13px -30px;
        position: static;
        padding-bottom: 30px;
    }

    header nav ul li .btn-primary {
        min-width: 0px;
        white-space: nowrap;
    }

    header nav ul li .dropdown {
        width: calc(100% - 40px);
        left: 20px;
        top: 80px;
    }

    header nav ul li.has-small-drop .dropdown {
        top: 50px;
        left: 0;
    }

    .sec-space {
        padding: 40px 0;
    }

    .banner-home p {
        font-size: 20px;
    }

    .trusted-by-businesses {
        img {
            max-width: 150px;
        }
    }

    .custom-accordion .item .accordion-title {
        padding-right: 40px;
    }

    .user-img-circle-2 .item-1,
    .user-img-circle-2 .item-3 {
        top: 0;
    }

    .user-img-circle-2 .item-2 {
        bottom: -73px;
    }

    .btn-primary,
    .btn-outline {
        min-width: 186px;
    }

    .form .radioGroup .custom-radio-1 {
        flex: 0 calc(25% - 6px);
    }
    .check-col {
        flex-wrap: wrap;
        padding-left: 55px;
        .item {
            max-width: none;
            width: 50%;
        }
    }
    .client-testimonial{
        .slider-left-block{
            h3{
                margin-left: -25px;
                font-size: 27px;
            }
        }
    }
    .thank-u-page{
        .header-container{
            max-width: 92%;
            .logo{
                img{
                    width: 120px;
                }
            }
        }
        .thank-banner-block{
            img{
                width: 150px;
            }
            h1{
                font-size: 36px !important;
            }
            > p{
                font-size: 28px !important;
            }
            div > p{
                font-size: 22px !important;
            }
        }
        .client-testimonial-block{
            h2{
                font-size: 28px !important;
            }
        }
        .trusted-by-businesses{
            h3{
                font-size: 28px !important;
            }
        }
        .client-testimonial{
            .client-testimonial-slider{
                top: 240px;
            }
            .slider-left-block{
                h3{
                    margin-left: -40px;
                    font-size: 28px;
                }
                img{
                    width: 180px;
                    margin-left: 20px;
                }
            }
            .slide-bg{
                height: 515px;
            }
            .client-feedback-block{
                padding: 30px;
                width: 550px;
                p{
                    margin: 0;
                }
                .user-img{
                    img{
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    } 
}

@media (max-width: 1060px) {
    header{
        nav{
            ul{
                li{
                    a:not(.btn-primary) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .order-md-1 {
        order: -1 !important;
    }
    header .logo {
        width: 160px;
        margin-top: -4px;
        img {
            width: 100%;
        }
    }
    header nav ul li {
        margin: 0 8px -20px;
    }
    header nav ul li a:not(.btn-primary) {
        font-size: 14px;
    }
    header nav ul li .btn-primary {
        font-size: 12px;
    }

    .custom-checkbox-list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
    }
    .custom-checkbox-list .item {
        margin: 0 20px 30px;
    }

    .custom-tabs {
        flex-wrap: wrap;
        height: auto;
    }
    .custom-tabs .item {
        width: 33.3%;
        min-height: 65px;
    }
    .custom-tabs .item::after {
        width: 100%;
    }

    .one-dashboard .item {
        margin-bottom: 30px;
        height: auto;
    }

    .contact-tabs .custom-tabs .item {
        min-height: 120px;
    }

    .user-img-circle .user-img {
        display: none;
    }

    .sec-space.pt-md-0 {
        padding-top: 0 !important;
    }
    .check-col .item {
        padding-right: 45px;
    }
    .plans-bundles .plans-box {
        flex-wrap: wrap;
        gap: 20px 0;
    }
    .plans-bundles .plans-box .item {
        flex: 0 100%;
    }

    .sec-img-1 {
        background-size: 100%;
        height: 420px;
    }
    footer{
        .form-group{
            width: 50%;
        }
    }
    .custom-accordion{
        margin-top: 20px;
    }
    .custom-accordion{
        margin-bottom: 20px;
    }
    .faq_que_form{
        h6{
            text-align: center;
        }
    }
    .thank-u-page{
        .thank-banner-block{
            img{
                width: 120px;
            }
            h1{
                font-size: 28px !important;
            }
            > p{
                font-size: 24px !important;
            }
            div > p{
                font-size: 20px !important;
            }
        }
        .client-testimonial-block{
            h2{
                font-size: 26px !important;
            }
        }
        .trusted-by-businesses{
            h3{
                font-size: 26px !important;
            }
        }
        .client-testimonial{
            .client-testimonial-slider{
                top: 168px;
            }
            .slider-left-block{
                h3{
                    margin-left: 0px;
                    font-size: 22px;
                }
                img{
                    width: 120px;
                    margin-left: 65px;
                }
            }
            .slide-bg{
                height: 455px;
            }
            .client-feedback-block{
                padding: 25px;
                width: 400px;
                p{
                    margin: 0;
                    font-size: 14px !important;
                }
                .user-img{
                    img{
                        width: 60px;
                        height: 60px;
                    }
                }
                .user-name{
                    h6{
                        font-size: 18px !important;
                        margin: 0;
                    }
                }
            }
        }
        .left-vertical-line{
            width: 15px;
        }
        .right-vertical-line{
            width: 15px;
        }
        .bottom-section{
            img{
                width: 120px;
            }
        }
    }
    .demo-content-block{
        padding: 30px 50px 30px 50px;
    }
}

@media (max-width: 767px) {
    h4 {
        br {
            display: none;
        }
    }
    header {
        padding: 15px 0;
    }
    header .container {
        flex-wrap: wrap;
    }
    header .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            max-width: 150px;
        }
    }
    header .logo .mob-menu-btn {
        display: block;
    }
    header nav {
        display: none;
        margin: 15px -13px 0;
        padding: 0 20px;
        width: calc(100% + 26px);
        background: var(--color-accent);
    }
    header nav ul {
        width: 100%;
        flex-wrap: wrap;
    }
    header nav ul li {
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &:last-child {
            border-bottom: none;
        }

        .fa-solid {
            display: inline-block;
            &.active {
                &::before {
                    content: "\f068";
                }
            }
        }
    }

    header nav ul li:not(.has-dropdown):not(.item ul li) {
        padding: 10px 0;
    }

    header nav ul li.has-dropdown .drop-link {
        margin: 10px 0;
        display: inline-block;
        &::after {
            display: none;
        }
    }

    header nav ul li a:not(.btn-primary) {
        display: block;
    }

    header nav ul li.has-dropdown:hover .drop-link {
        color: var(--color-secondary);
    }

    header nav ul li .dropdown {
        transition: none;
        transform: none;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        position: static;
        width: calc(100% + 40px);
        margin: 0 -20px;
        border-radius: 0;
        border-right: none;
        border-left: none;
        flex-wrap: wrap;
        display: none;
    }
    header nav ul li .dropdown.width-180,
    header nav ul li .dropdown.width-256 {
        width: calc(100% + 40px);
    }
    header nav ul li .dropdown .item {
        width: 100%;
        flex: auto;
    }

    header nav ul li .dropdown .item ul li {
        padding-bottom: 10px;
    }
    header nav ul li .dropdown .item ul li a::after {
        display: none;
    }

    .custom-checkbox-list .item {
        width: 50%;
        margin: 0 0 20px 0;
        padding: 0 10px;
    }
    .custom-checkbox-list .item label {
        width: 100%;
    }

    .btn-primary,
    .btn-outline {
        min-width: 0;
        width: 100%;
        font-size: 14px;
        padding: 14px 10px;
    }
    .btn-outline {
        padding: 12px 10px;
    }

    .sec-img-1 {
        background-size: 100%;
        height: 220px;
    }

    .content-img-boxes {
        img.user-img-big {
            max-width: 100px;
        }
    }

    .custom-tabs .item {
        width: 100%;
    }

    .content-boxes .item {
        padding: 30px 30px;
    }

    .testimonial .img-box::before,
    .testimonial .img-box::after {
        display: none;
    }
    .testimonial-slider .container {
        padding: 25px 30px;
    }
    .testimonial .img-box {
        img {
            max-width: 100%;
        }
    }
    .testimonial .img-box .slick-arrow {
        width: 60px;
        background-size: 100% !important;
    }
    .testimonial .img-box .slick-arrow.prev {
        left: -28px;
    }
    .testimonial .img-box .slick-arrow.next {
        right: -28px;
    }
    .testimonial .text-box p {
        font-size: 16px;
    }

    .business-testimonial .item {
        padding: 25px 15px;
    }

    .checklist {
        padding-left: 0px;
    }
    .checklist ul li {
        font-size: 18px;
        padding-left: 32px;
    }
    .checklist ul li::before {
        width: 20px;
        height: 20px;
        background-size: 10px;
        top: 4px;
    }

    .custom-accordion .item {
        padding: 25px;
        background-size: 50px;
        background-position: 97% 20px;
        margin-bottom: 20px;
    }
    .custom-accordion .item.active {
        background-size: 28px !important;
        background-position: 94% 28px;
    }
    .custom-accordion .item .accordion-title {
        font-size: 16px;
        max-width: 100%;
    }
    .custom-accordion .item .accordion-data {
        font-size: 14px;
    }

    .user-img-circle-2 .item-1,
    .user-img-circle-2 .item-2,
    .user-img-circle-2 .item-3 {
        position: static;
        display: inline-flex;
        margin: 20px 15px 0;
    }

    .contact-tabs .custom-tabs .item {
        flex-wrap: wrap;
        align-content: space-between;
        font-size: 15px;
        padding: 18px 0;
        min-height: 110px;
    }
    .contact-tabs .custom-tabs .item img {
        max-width: 40px;
        margin: 0;
    }
    .contact-tabs .custom-tabs .item span {
        width: 100%;
        display: block;
    }
    .contact-tabs .custom-tabs .item::after {
        display: none;
    }

    .custom-accordion-2 .item {
        margin-bottom: 20px;
    }

    .custom-accordion-2 .item .accordion-title {
        font-size: 16px;
        padding: 14px 16px;
    }
    .custom-accordion-2 .item .accordion-title::after {
        background-size: 16px;
        right: 14px;
    }
    .custom-accordion-2 .item .accordion-data {
        padding: 10px 27px 0;
    }

    .schedule-demo-form {
        padding: 25px 20px 35px;
    }

    .form .radioGroup .custom-radio-1 {
        flex: 0 calc(50% - 6px);
    }

    .checklist.check-small ul li {
        font-size: 14px;
    }

    .check-col {
        padding-left: 50px;
    }
    .check-col .item {
        padding-right: 0;
        width: 100%;
    }

    .plans-bundles .plans-box .item {
        padding: 20px;
    }

    footer .foot {
        margin-top: 10px;
        font-size: 13px;
        img {
            width: 40px;
            margin-right: 5px;
            position: relative;
            top: -3px;
        }
    }

    footer .footer-menu ul li a {
        font-size: 16px;
    }

    .content-boxes .item .icon-box {
        position: static;
        border-radius: 27px;
        width: auto;
        height: auto;
        background: transparent;
        display: inline-block;
        margin-bottom: 20px;
    }
    .invoice-heading h1{
        font-size: 20px;
        margin: 0;
        padding: 0 5px;
    }
    .faq_que_form{
        padding: 30px 25px;
    }
    .quote-mark{
        padding: 0 25px;
        .fa-quote-left{
            top: -12px;
            left: 0px;
        }
    }
    .tab-data-slider{
        .w-70{
            width: 100%;
        }
    }
    .marquee {
        .js-marquee{
            gap: 0 70px;
        }
    }
    .marquee-rev{
        .js-marquee{
            gap: 0 70px;
        }
    }
    .check-col {
        .item {
            &::before {
                top: 0px;
            }
        }
    }
    .pricing-communication{
        .row{
            .item{
                .icon-box{
                    width: 70px;
                    height: 70px;
                    img{
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }
    .custom-pricing-section{
        .custom-pricing-form{
            padding: 62px 30px;
        }
        .pricing-bg-inner{
            padding: 85px 30px;
        }
    }
    .plans-bundles{
        .custom-tab-block{
            width: 100%;
            height: 100px;
            .custom-tabs{
                width: 100%;
                justify-content: space-between;
                flex-wrap: nowrap;
                .item{
                    width: 100%;
                    max-width: inherit;
                    min-width: inherit;
                }
            }
        }
    }
    .thank-u-page{
        .client-testimonial{
            .client-testimonial-slider{
                top: inherit;
                bottom: 170px;
            }
            .slide-bg{
                height: 425px;
            }
            .slider-left-block{
                h3{
                    br{
                        display: none;
                    }
                }
                img{
                    width: 40px;
                    margin-left: 25px;
                }
            }
        }
    }
}
@media (max-width: 580px) {
    .pricing-communication{
        .row{
            .item{
                padding: 35px 35px;
                .icon-box{
                    width: 60px;
                    height: 60px;
                    left: -5px;
                    top: -30px;
                }
            }
        }
    }
}
@media (max-width: 576px){
    .thank-u-page{
        .client-testimonial{
            .client-testimonial-slider{
                left: 30px !important;
            }
        }
        .right-vertical-line{
            width: 5px;
        }
        .left-vertical-line{
            width: 5px;
        }
        .controls{
            margin-top: 25px !important;
        }
        .client-testimonial{
            .client-testimonial-slider{
                bottom: 143px;
            }
        }
    }
    
}
@media (max-width: 480px) {
    .faq_que_form{
        h6.font-35px{
            font-size: 22px !important;
        }
    }
    .marquee {
        .js-marquee{
            gap: 0 30px;
        }
    }
    .marquee-rev{
        .js-marquee{
            gap: 0 30px;
        }
    }
    .trusted-by-businesses{
        img{
            max-width: 90px;
        }
    }
    .custom-pricing-section{
        .custom-pricing-form{
            padding: 62px 15px;
        }
        .pricing-bg-inner{
            padding: 85px 25px;
            .font-sm-40px{
                font-size: 36px !important;
            }
        }
    }
    .faq_que_form{
        h6{
            font-size: 24px !important;
        }
    }
    .thank-u-page{
        .client-testimonial{
            .client-feedback-block{
                width: 340px;
            }   
            .slide-bg{
                height: 470px;
            }    
        }
        .check-demo{
            .check-demo-block{
                .message-icon{
                    top: -50px;
                    left: 165px;
                    width: 50%;
                }
            }
        }
    }
    .demo-content-block {
        padding: 30px;
    }
}
@media (max-width: 420px) {
    .faq_que_form{
        .font-18px{
            font-size: 14px !important;
        }
    }
    footer{
        .form-group{
            width: 100%;
        }
    }
    #whatsapp-icon{
        right: 10px;
    }
    #whatsapp-icon{
        .notification{
            width: 230px;
            #chatMessage{
                line-height: 20px;
            }
        }
    }
    .thank-u-page{
        .thank-banner-block{
            img{
                width: 80px;
            }
            h1{
                font-size: 24px !important;
            }
            > p{
                font-size: 20px !important;
            }
            div > p{
                font-size: 16px !important;
            }
            .mt-100{
                margin-top: 60px !important;
            }
        }
        .client-testimonial{
            .client-testimonial-slider{
                left: 0px !important;
                .slick-track{
                    gap: 0;
                }
            }
            .client-feedback-block{
                margin: 0 25px;
            }
            .client-testimonial-block{
                h2{
                    font-size: 24px !important;
                }
            }
        }
        .trusted-by-businesses{
            h3{
                font-size: 24px !important;
            }
        }
    }
}
@media (max-width: 350px) {
    .faq_que_form{
        padding: 30px 20px;
        .font-18px{
            font-size: 12px !important;
        }
        h6{
            font-size: 22px !important;
        }
    }
}
@media (min-width: 1200px) and (max-device-width: 1395px){
    .container{
        max-width: 1040px;
    }
    .faq_que_form{
        padding: 64px 30px;
        h6{
            font-size: 28px !important;
        }
    }
    header {
        .container{
            max-width: 1040px;
            nav{
                ul{
                    li{
                        margin: 0 10px -30px;
                        a:not(.btn-primary) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .banner-home{
        .custom-checkbox{
            gap: 10px;
        }
    }
    .check-col {
        .item{
            min-width: 183px;
            position: relative;
            max-width: 210px;
            p{
                font-size: 20px !important;
            }
        }
    }
}

